<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>인덱스인덱스</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <form id="msform" method="POST" action="{{ url_for('submit_form') }}">
        
        <ul id="progressbar">
            <li class="active">특성1</li>
            <li>특성2</li>
            <li>특성3</li>
            <li>특성4</li>
            <li>특성5</li>
        </ul>
        
        <fieldset>
            <h2 class="fs-title">특성1</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            <input type="text" name="feature1" placeholder="특성1" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">특성2</h2>
            <h3 class="fs-subtitle">This is step 2</h3>
            <input type="text" name="feature2" placeholder="특성2" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">특성3</h2>
            <h3 class="fs-subtitle">This is step 3</h3>
            <input type="text" name="feature3" placeholder="특성3" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">특성4</h2>
            <h3 class="fs-subtitle">This is step 4</h3>
            <input type="text" name="feature4" placeholder="특성4" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">특성5</h2>
            <h3 class="fs-subtitle">This is step 5</h3>
            <input type="text" name="feature5" placeholder="특성5" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>  
</body>

</html>