<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X_train X_test X_girlfriend</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <form id="msform" method="POST" action="{{ url_for('submit_form') }}">
        
        <ul id="progressbar">
            <li class="active">step1</li>
            <li>step2</li>
            <li>step3</li>
        </ul>
        
        <fieldset>
            <h2 class="fs-title">STEP1</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            <div>1. 본인의 성별을 선택하세요</div>
            <label class="radio-inline" for="male">남성</label>
            <input class="radio-inline" type="radio" id="male" name="feature1" value="1">

            <label class="radio-inline" for="female">여성</label>
            <input class="radio-inline" type="radio" id="female" name="feature1" value="0">
            <br>
            
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">STEP2</h2>
            <h3 class="fs-subtitle">This is step 2</h3>

            <div>2. attr_s</div>
            <input type="text" name="feature2" placeholder="특성2" />

            <div>3. sinc_s</div>
            <input type="text" name="feature3" placeholder="특성3" />

            <div>4. intel_s</div>
            <input type="text" name="feature4" placeholder="특성4" />

            <div>5. fun_s</div>
            <input type="text" name="feature5" placeholder="특성5" />

            <div>6. amb_s</div>
            <input type="text" name="feature6" placeholder="특성6" />

            <input type="button" name="previous" class="previous action-button" value="Previous" />

            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">STEP3</h2>
            <h3 class="fs-subtitle">This is step 3</h3>

            <div>7. attr_eval</div>
            <input type="text" name="feature7" placeholder="특성7" />
            
            <div>8. sinc_eval</div>
            <input type="text" name="feature8" placeholder="특성8" />

            <div>9. intel_eval</div>
            <input type="text" name="feature9" placeholder="특성9" />

            <div>10. fun_eval</div>
            <input type="text" name="feature10" placeholder="특성10" />

            <div>11. amb_eval</div>
            <input type="text" name="feature11" placeholder="특성11" />

            <div>12. shar_eval</div>
            <input type="text" name="feature12" placeholder="특성12" />

            <div>13. like_eval</div>
            <input type="text" name="feature13" placeholder="특성13" />

            <input type="button" name="previous" class="previous action-button" value="Previous" />

            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>  
</body>

</html>